/* Centering styles */
body {
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Special Elite";
}

#next-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#next-button:hover {
  background-color: #45a049;
}

.menu-container {
  text-align: center;
  max-width: 800px;
  /* Setting a max-width for the menu container */
  width: 90%;
  /* Making the container 90% of the available width */
  background-image: url('https://i.imgur.com/leh9u7U.png');
  padding: 20px;
  /* Adding some padding for better spacing */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Adding a subtle box shadow for a card-like appearance */
  border-radius: 10px;
  color: white;
  /* Adding border-radius for rounded corners */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  /* Increase the font size */
  margin-bottom: 20px;
  /* Add some margin for better spacing */
}

/* Added some basic styles for better presentation */
.menu-section {
  margin-bottom: 20px;
}

.menu-columns {
  display: flex;
  flex-wrap: wrap;
  /* Allow columns to wrap on smaller screens */
  justify-content: center;
}

.menu-column {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.menu-column:last-child {
  margin-right: 0;
}

.menu-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Adding padding for better spacing */
  border-radius: 5px;
  /* Adding border-radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Adding a subtle box shadow for a card-like appearance */
  transition: background-color 0.3s;
  /* Adding a smooth transition for background color change */
}

.menu-item label:hover {
  background-color: #222;
  /* Changing the background color on hover for better interactivity */
}